body{
    margin:0;
    background:#ccc;
}
div{
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
ul li a{
    color:#454545;
    text-decoration: none;
    text-transform: capitalize;
}
h1{
    text-align: center;
}
.intro-form{
    width:20%;
    margin:0 auto;
}
    .intro-form input[type='text']{
        width: 100%;
        margin-bottom: 10px;
    }
.main-content{
    width:35%;
    margin: 10% auto;
}
.column{
    display: inline-block;
}
.north{
    margin-bottom: 10px;
    width:100%;
    min-width: 100%;
    padding:10px;
    background:#fff;
}
.west{
    min-width: 30%;
    width:30%;
    background: #fff;
    padding: 10px;
    vertical-align: top;
}
.east{   
    width:69%;
    min-width: 69%;
    padding: 10px;
    background:#fff;
}
.white-body{
    background: #fff;
    padding:10px;
}